.ribbon {
  position: relative;
  top: -107px;
  right: -1000px;
}
header {
  font-family: "Roboto", sans-serif;
}
header p {
  font-size: 30px;
  background-color: #ff8c69;
  padding: 10px;
  margin-top: 0px;

}
main {
  font-family: "Times New Roman", Times, serif;
  font-size: 150px;
}
.space {
  background-color: #ff8c69;
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-size: 25px;
}
nav {
  background-color: #ffd769;
}
main section p {
  background-color: #ff8c69;
  padding: 8px;
  margin: 0px;
  border: 0px;
}
a {
  margin: 25px;
}
footer p {
  background-color: #ffd769;
  font-size: 30px;
  font-family: Arial;
  text-align: right;
  padding: 0px;
  margin: 0px;
  border: 0px;
}
.ribbonDown {
  position: relative;
  top: -132px;
  right: -1000px;
}
main article diV{
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: left;
}
  
.fontSize {
  font-size: 30px;
}
div.polaroid {
  width: 80%;
  margin-left: 138px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}
main nav img{
display: inline;
border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  margin-right: 95px;
  margin-left: 10px;
  

}